<div class="login-page">
  <!-- DIV FORMULAIRE LOGIN -->
  <div class="login-form">
    <!-- MESSAGE ERREUR (en haut à droite) -->
    <div class="alert alert-danger hide">
      <button type="button" class="close" data-dismiss="alert"> &times;</button>
      <h4>Erreur!</h4>
      Erreur d'identification. Veuillez recommencer.
    </div>
    <!-- FIN MESSAGE ERREUR (en haut à droite) -->
    <!-- FORMULAIRE LOGIN -->
    <form action="#" method="get"  >
      <input class="form-control" id="login" type="text" ng-model="data['login']" required placeholder="identifiant"/>
      <input class="form-control" id="pwd" type="password" ng-model="data['pass']" required placeholder="mot de passe"/>
      <button type="submit" class="btn btn-login" ng-click="send()">Se connecter</button>
    </form>
    <!-- FIN FORMULAIRE LOGIN -->
  </div>
  <!-- DIV FORMULAIRE LOGIN -->
</div>