<div ng-show="user" class="row">
    <!-- GESTION DES ONGLETS -->
    <div class="nav-pos-fixed">
        <ul class="nav nav-pills nav-justified">
            <li ng-repeat="cat in ::categories" ng-class="{'active': cat.id == category.id}"><a href="#/cables/{{::cat.id}}">{{::cat.title}}</a></li>
        </ul>
    </div>
    <div class="espace-sous-onglet"></div>
    <div maplist="cables/{{::category.id}}">
        <!-- BOUTON NOUVEAU -->
        <div class="btn-new" ng-if="editAccess">
            <a class="btn btn-success" style="margin-right: 1ex;" ng-href="{{schema.createUrl}}" ng-if="category.id!='eqtronconserdf' && category.id!='eqpoteauxerdf'"><span class="glyphicon glyphicon-plus"></span><span class="font-nouveau"> {{schema.createBtnLabel}} </span></a>
        </div>
        <!-- FIN BOUTON NOUVEAU -->
        </br>
        <div class="padded">
            <div tablewrapper class="table" schema="schema" data="data" selectedpage="selectedpage" refname="cables/{{::category.id}}"></div>
        </div>
    </div>
</div>