/* ==========================================================================
   Login Box styles
   ========================================================================== */
  
.login-page{position:fixed; 
top:0; 
left:0; 
width:100%; 
height:100%;  
background-image: url("../img/gyp3.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-box{
    position: relative;
    max-width:480px;    
    background: #3498db;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    padding-bottom: 20px; 
    margin-top: 80px; 
}

.login-logo{
     text-align: center;
     padding: 15px 0 10px;
/*    float: left; */
      font-family: 'Cubano', sans-serif;
      font-weight: normal;
      font-size: 3.5em;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
  .animated; // Initiate animation library
  .bounce; // Initiate bounce effect
}
.login-logo {
  max-height: none;
  width: 100%;
}

.login-logo img{
    border:0;
    display: inline-block;
}


.login-box hr{
    margin:10px auto 20px;
    width:70%;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}
/* page icon */
.page-icon{
    width: 100px;
    height:100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #2980b9;
    text-align: center; 
    margin: -60px auto 0;
    
}

.rotate-icon{
     -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform: rotate(45deg);
}
.login-box .page-icon{
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}
/* Login Form */
.login-form input{
    display: block;
    margin:0 auto 15px;
    width:70%;
    background: #fefefe;
    border:0;
    color:#6c6c6c;
    padding: 8px;
    border-radius:2px;
    
}

/* Login Button */
.btn.btn-login {
    width: 130px;
    display:block;
    margin: 20px auto 20px;
    color: white;
    text-transform:uppercase ;   
    background: #2980b9; 
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}
.btn.btn-login:hover {   
    border:1px solid #FFF;
    opacity: 0.8;
} 
.btn.btn-reset{
    width: 180px;
}
.login-links{
    text-align: center;
}
.login-links a{
    color: #FFF; 
    display:inline-block;
    padding:5px; 
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0.7;
}
.login-links a:hover{
     opacity: 1;
     text-decoration: none;
}


#footer-text, #footer-text a{
    text-align: center;
    color:#FFF;
/*     color: rgba(255, 255, 255, 0.33); */
    opacity: 1; 
}




.page-icon-shadow { 
   
    height:100px;
   
   
}  
.page-icon .glyphicon{
    font-size: 3em;
    line-height: 2.3em;
     text-shadow: rgb(33, 103, 150) 1px 1px,
    rgb(34, 105, 152) 2px 2px,
    rgb(34, 106, 154) 3px 3px,
    rgb(35, 108, 157) 4px 4px,
    rgb(35, 110, 159) 5px 5px,
    rgb(36, 111, 161) 6px 6px,
    rgb(36, 113, 164) 7px 7px,
    rgb(37, 115, 166) 8px 8px,
    rgb(37, 116, 168) 9px 9px,
    rgb(38, 118, 171) 10px 10px,
    rgb(38, 119, 173) 11px 11px,
    rgb(39, 121, 175) 12px 12px,
    rgb(39, 123, 178) 13px 13px,
    rgb(40, 124, 180) 14px 14px,
    rgb(40, 126, 182) 15px 15px;
}

#footer-text{
    position: relative;
}

 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
    #login-block{    
        padding-top: 10px;
        padding-bottom: 25px;
    }
    
}

/* Tablet Portrait Size to Tablet Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px){
    #login-block {   
        margin: 0 auto;
        width: 420px;
    }
    
}


