<div class="input-group">
    <span ng-if="decorated" class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
    </span>
    <input id="aw" ng-blur="ngBlur" type="text" class="{{inputclass}}" ng-model="localselectedobject" typeahead="item as item.label for item in find($viewValue || null)" typeahead-loading="items" typeahead-editable="false" typeahead-min-length="3" required="ngrequired" ng-change="test()"></input>
    <span ng-if="decorated" class="input-group-addon">
        <ng-transclude></ng-transclude>
    </span>
</div>
<input type="hidden" ng-model="selectedobject" required="ngrequired"></input>
