<fieldset>
    <div ng-repeat="field in group.fields" class="form-group" ng-if="!field.options.dismissed">
        <label for="{{field.name}}" ng-if="field.type!='hidden'" tooltip="{{field.help}}">{{field.label}}</label>

        <p style="color: red;" ng-show="errors[field.name]">{{errors[field.name]}}</p>

        <!-- <multi refer="data[field.name]" schema="field" ng-if="field.options.multi"></multi> -->

        <input id="{{field.name}}" type="hidden" ng-if="field.type=='hidden' && !field.options.multi" ng-model="data[field.name]">

        <input id="{{field.name}}" name="{{field.name}}" class="form-control" type="text" ng-if="field.type=='string' && !field.options.multi" ng-model="data[field.name]" ng-minlength="field.options.minLength" ng-maxlength="field.options.maxLength" ng-required="field.options.minLength>0" ng-disabled="field.options.readOnly">

        <input id="{{field.name}}" name="{{field.name}}" class="form-control" type="number" min="{{field.options.min}}" max="{{field.options.max}}" step="{{field.options.step}}" ng-if="field.type=='num' && !field.options.multi" ng-model="data[field.name]" ng-disabled="field.options.readOnly">

        <div id="{{field.name}}" datepick ng-if="field.type=='date' && !field.options.multi" date="data[field.name]" ngrequired="field.options.required" ngdisabled="field.options.readOnly"></div>

        <input id="{{field.name}}" type="checkbox" ng-if="field.type=='bool' && !field.options.multi" ng-model="data[field.name]" ng-disabled="field.options.readOnly">
        
        <select id="{{field.name}}" class="form-control" ng-options="item.id as item.libelle for item in field.options.choices" ng-model="data[field.name]" ng-if="field.type=='select'&& !field.options.multi" ng-obligatoire="field.options.obligatoire" ng-required="field.options.obligatoire == true" ng-disabled="field.options.readOnly"></select>     
        
        <select id="{{field.name}}" class="form-control" ng-options="item.libelle as item.libelle for item in field.options.choices" ng-model="data[field.name]" ng-if="field.type=='selectLib' && !field.options.multi" ng-obligatoire="field.options.obligatoire" ng-required="field.options.obligatoire == true" ng-disabled="field.options.readOnly"></select>

        <!-- <angucompletewrapper inputclass="form-control" id="{{field.name}}" name="{{field.name}}" decorated="true" selectedobject="data[field.name]" url="{{field.options.url}}/" reverseurl="{{field.options.reverseurl}}" titlefield="label" ng-if="field.type=='xhr' && !field.options.multi" initial="data[field.name]" ngrequired="field.options.required" ngdisabled="field.options.readOnly"></angucompletewrapper> -->

        <textarea class="form-control" id="{{field.name}}" ng-if="field.type=='text' && !field.options.multi" ng-model="data[field.name]" ng-disabled="field.options.readOnly"></textarea>

        <calculated ngclass="form-control" id="{{field.name}}" ng-if="field.type=='sum' && !field.options.multi" refs="field.options.ref" data="data" model="data[field.name]" modifiable="field.options.modifiable" min="field.options.min" max="field.options.max"></calculated>

        <photoupload ng-if="field.type=='photo' && !field.options.multi" chemin="data[field.name]" options="field.options"  ></photoupload>
        
        <div geometry ng-if="field.type=='geom' && !field.options.multi" origin="data['__origin__'][field.name]" geom="data[field.name]" options="field.options" ngrequired="field.options.required"></div>
    </div>
</fieldset>

<pre style='clear:both;' ng-if="debug">{{Simpleform|json}}</pre>
