*******************************************************
 * SIDEBAR TABLEAU DE DONNEES
 ********************************************************/
/* CARTE : taille de la div de la carte quand la tableau est replié */
.contenu {
    width: 100%;
}

/* CARTE : taille de la div de la carte quand la tableau est déplié */
.contenu.visibilite {
    width: 55%;
/*  -webkit-transition: width 200ms ease-in;
    -moz-transition: width 200ms ease-in;
    -ms-transition: width 200ms ease-in;
    -o-transition: width 200ms ease-in;
    transition: width 200ms ease-in;  */
}

/* TABLEAU : taille de la div du tableau quand il est déplié */
.datablock {
    float: left;
    height: calc(100vh - 80px);
    padding: 0 20px 20px 20px;
    display: inline-block;
    width:45%;

    position: absolute;
    top: 80px;
    right: 0;
    background-color: #FFFFFF;
    /*border: 1px solid red;*/
    /*-webkit-transition: width 200ms ease-in;
    -moz-transition: width 200ms ease-in;
    -ms-transition: width 200ms ease-in;
    -o-transition: width 200ms ease-in;
    transition: width 200ms ease-in;*/
}

/*.datablock {
    padding: 0 20px 20px 20px;
    display: inline-block;
    width:45%;

}*/

/* TABLEAU : état de la div du tableau quand il est replié */
.datablock.visibilitetableau {
    display: none;
}

/* TABLEAU : état de la div du tableau quand le bendeau est replié */
.datablock.visibilitebandeau {
    top: 0;
    height: 100vh;
}

/* BOUTON : placement du bouton quand le tableau est replié */
/*.btn.btn-info {
   position: absolute;
   margin-left: 97.5%;
   margin-top: 20%;
}*/

/* BOUTON : placement du bouton quand le tableau est déplié */
/*.btn.btn-info.visibilite {
   position: absolute;
   margin-left: 53%;
   margin-top: 20%;
}*/

.btn-table {
  width:  30px;
  height: 30px;
  position: fixed;
  margin-left: 98.05%;
  margin-top: 50vh;
  text-align: center;
  padding-top: 2px;
  color: inherit;
  background-color: #FFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  /*list-style: none;*/
}

.btn-table.visibilite {
  position: fixed;
  margin-left: 53.3%;
  margin-top: 50vh;
  text-align: center;
  padding-top: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  /*list-style: none;*/
}

.btn-table-ul {
  list-style: none;
}

/*.btncontenu {
    width: 60%;
}*/

/*.btncontenu.visibilite {
    width: 100%;

    -webkit-transition: width 200ms ease-in;
    -moz-transition: width 200ms ease-in;
    -ms-transition: width 200ms ease-in;
    -o-transition: width 200ms ease-in;
    transition: width 200ms ease-in;
}*/

/* pagination active */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #537380;
  border-color: #537380;
  padding: 4px 8px 4px 8px;
  font-size: 12px;
}

/* pagination passive */
.pagination>li>a, .pagination>li>span {
  color: #537380;
  padding: 4px 8px 4px 8px;
  font-size: 12px;
}

/* centrage dans les colonnes */
.table>thead>tr>th {
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle; 
}

/* gestion de la zone de filtre */
.form-control {
  font-size: 12px;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}

.table-condensed>thead>tr>th {
    padding: 2px;
}

/* boutons pour la pagination */
.btn-default {
  padding: 0px 5px 2px 5px;
  font-size: 12px;
}

/*.btn-new {
  position: absolute;
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size: 12px;
}*/

.btn-success {
  /*position: absolute;*/
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size: 12px;
}

.btn-record {
  /*position: absolute;*/
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size: 12px;
}

.btn-primary {
  /*position: absolute;*/
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  /*background: red;*/
}

.font-exporter {
  font-family: sans-serif;
  font-size: 12px;
}

.font-nouveau {
  font-family: sans-serif;
  font-size: 12px;
  /*padding-left: 2px;
  padding-bottom: 20px;*/
}

/* bouton pour l'affichage des colonnes */
.btn.btn-info {
  position: static; 
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #537380;
  font-color: #ffffff;
  border: 1px solid #537380;
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
    /*color: #fff;*/
    background-color: #537380;
    border-color: #537380;
}

/*.btn.btn-info.active {
  position: static; 
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  background: #537380;
  font-color: #ffffff;
  border: 1px solid #537380;
}*/

/* placement de la liste déroulante sous le bouton pour l'affichage des colonnes */
.my-select-column {
  right: auto;
}

.dropdown-menu {
  right: auto;
  font-size: 10px;
}

.deconnect {
  /*right: auto;*/
  font-size: 13px;
}

/* glyphicon bouton info devant chaque ligne du tableau */
.glyphicon.glyphicon-info-sign {
  color: #537380;
}

/* glyphicon '3 points' pour la gestion des colonnes */
.glyphicon.glyphicon-option-horizontal {
  /*color: #537380;*/
  padding-right: 2px;
  text-align: center;
}

.btn-group:open {
  background: #5da5b4;
}

/* texte 'Aucune données' */
.text-primary {
  color: #537380;
  font-size: 16px;
  font-weight: bold;
}

.pos-table {
  padding-top: 10px;
  /*border: 1px solid green;*/
}


/********************************************************
 * CARTE
 ********************************************************/
#mapd{
    width: 100%;
    height: 100%;
}

.div-bloc-carte {
  height: 100vh;
}

.fixed-map {
  position: fixed;
  /*padding: 0;
  margin: 0;*/
}

.full-screen{
  padding:0;
  padding:0;
}

.padded{
    position:relative;
    padding-left:12px;
    padding-right:15px;
}

.coords-dsp{
    width: 15em;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    font-weight: 900;
}
.coords-dsp span{
    display: block;
}

.map{
    float: left;
    /*padding: 2px;*/
   /*box-shadow: 1px 1px 1px 1px grey;*/
   /*border: 1px solid green;*/

}

.map.large{
    /*height: 94.5vh;*/
    height: 100vh;
    width: 100%;
}

.map.medium{
    height: 60vh;
}

.map.small{
    height: 92vh;
}
.map.right-cropped {
    width: 55%;
}

.content-panel {
 min-height: 90vh;
 padding:10px;
}

.img_menu {
    height: 100px;
    box-shadow: 3px 3px 10px 2px gray;
}

.suivi-popover{
    margin-top: 70px;
    position: fixed;
    top: 4.5em;
    right: 1em;
    min-width: 20em;
    box-shadow: 3px 3px 5px #AAA;
    z-index: 9999;
}

.suivi-popover-txt{
    margin-right: 2em;
}

.glyphicon-remove-sign:before {
    color: red;
}

.easy-button-button .button-state {
  padding-top: 2px;
}

/********************************************************
 *  MESSAGES UTILISATEURS
 ********************************************************/
.msg-default{
    background-color: #0D2E4C;
}

.msg-error{
    background-color: red;
}

.msg-success{
    background-color: green;
}


/********************************************************
 * MENU PRINCIPAL
 ********************************************************/
 /* Fixed Nav-bar */
 body {
  padding-top: 0px;
  /* taille de la police dans le tableau */
  font-size: 12px;
}


/* Font Awesome */
@font-face {
  font-family: 'FontAwesome';
  src: url('../css/lib/font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../css/lib/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../css/lib/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../css/lib/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../css/lib/font-awesome/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav-tabs [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */


.icon-map-marker:before {
  content: "\f041";
}

.icon-bolt:before {
  content: "\f0e7";
}
.fa-coffee:before {
  content: "\f0f4";
}

.icon-user:before {
  content: "\f007";
}

.navbar .brand {
  float: left
  display: block;
  padding: 10px 20px 10px;
  font-size: 20px;
  font-weight: 200;
  color: #e1e1e1;
  text-shadow: 0 1px 0 #333333;
}
/********************************************************
 * SPINNER
 *******************************************************/
.custom-loading.dw-loading {
  text-align: center;
}

.custom-loading.dw-loading.dw-loading-overlay {
  background-color: rgba(0, 255, 255, .7);
  z-index: 9999;
}

.custom-loading.dw-loading > .dw-loading-body > .dw-loading-text {
  color: green;
  font-size: 13px;
  top: 45px;
}
.dw-loading.dw-loading-active {
  position: fixed;
}

/*
 * Affichage du détail des éléments
 */
.text-info{
  color:#554A0A;
}

/*******************************************************
 * FORMULAIRES
 *******************************************************/
.css-form input.ng-invalid{
    border-color: red;
}
select:invalid {
    border: 2px solid red;
}


.sxhrinput li{
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.sxhrinput li:hover{
    background-color: #AAAAFF;
}

/*
 *Spreadsheet
 */

.spreadsheet{
    padding: 0;
    background-color: white;
    border: 1px inset #CCC;
    /*max-height: 20em;*/
    overflow: scroll;
}

.spreadsheet td{
    border: 1px dotted #CCC;
    min-width: 10em;
}

.spreadsheet input, select{
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
}

.spreadsheet select{
    background-color: white;
}

.spreadsheet input:focus, select:focus{
    outline: 1px solid #CCF;
    outline-offset: 2px;
}

/*
 * Barre d'action des formulaires
 */
.btn-toolbox {
    margin-left: 10px;
    margin-right: 10px;
}

#formToolbox{
    position: fixed;
    right: 20px;
    bottom: 0;
    background-color: #DDD;
    z-index: 9999;
    padding-top: 5px;
    padding-bottom: 5px;
}

.detail-display{
    clear: both;
}

.tab-content{
    padding: 0.5em;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}


/**********************************************************
 * TABLE WRAPPER
 **********************************************************/
.select-column {
    left: auto;
    right: 0;
}

table.tablewrapper>tbody>tr.odd>td {
    background-color: rgba(207, 207, 207, 0.72)
}

table.tablewrapper>tbody>tr.active>td{
    background-color: rgb(255, 112, 255);
}

.glyphicon-pencil:before {
    color: #C55009;
}
/*******************************************************
 * BALISES GENERIQUES
 *******************************************************/

.float-right {
    float: right;
    font-size: 12px;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.padding-20 {
  padding-top: 40px;
}

.sub-schema {
  border-top: 1px solid #CCC;
  padding-top: 5px;
  margin-top: 20px;
}

.sub-schema h1 {
  font-size: 28px;
}

.sub-schema-photos {
  border-top: 1px solid #CCC;
  padding-top: 5px;
  margin-top: 20px;
}

.sub-schema-photos h1 {
  font-size: 28px;
}

.mapFilter{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.recenterBtn{
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    background-color: rgba(255,255,255,1);
    padding: 1px;
    border-radius: 4px;
}
.recenterBtn button{
    border: 0;
    outline: 0;
    background-color: rgba(255,255,255,1);
}

.rc-handle-container {
    position: relative;
}

.rc-handle {
    position: absolute;
    width: 7px;
    cursor: ew-resize;
    margin-left: -3px;
    z-index: 2;
}

table.rc-table-resizing {
    cursor: ew-resize;
}

table.rc-table-resizing thead, table.rc-table-resizing thead > th, table.rc-table-resizing thead > th > a {
    cursor: ew-resize;
}

.table-xlarge{
    min-width: 20em;
}

.table-large{
    min-width: 10em;
}

.table-small{
    max-width: 20em;
}

.table-xsmall{
    max-width: 10em;
}

.opaque{
    background-color: white;
    z-index: 100;
    padding-bottom: 20px;
    /*border-left: 2px solid #CCC;*/
}
/*
.ng-table th.sortable.sort-asc{
    background-color: #CCF;
}
.ng-table th.sortable.sort-desc{
    background-color: #FCC;
}
*/

.filter-container{
    background-color: white;
    border: 1px solid #CCF;
    border-radius: 8px 0 8px 8px;
    padding: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    margin-bottom: 5px;
}

.filter-container div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.filter-form-nav{
    background-color: #CCC;
    opacity: 0.8;
    border-top: 2px solid #AAA;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    z-index: 100;
}

.filter-form-nav>span{
    margin: 5px;
}

.filter-form-nav .badge{
    margin: 5px;
}

.filter-inactive{}

.filter-active{
    background-color: lightgreen;
}
span.filter-active{
    background-color: green;
}


.table-fieldset th{
    background-color: #EFEFEF;
}

.table-fieldset input{
    border: 0;
    height: 100%;
    width: 100%;
}

.table-fieldset input:focus{
    outline: 0;
    height: 100%;
    width: 100%;
}

.tb-wrapper{
    clear: both;
    width: 100%;
    overflow-x: scroll;
}

.link-mute{
    text-decoration: none;
}

.link-mute:focus{
    text-decoration: none;
    outline: 0;
}

.ff-paginate{
    float: left;
}

.ff-paginate label{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: 500;
}

.ff-paginate input{
    outline: 0;
    width: 5em;
    margin-top: 2px;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding-left: 2px;
}

/*******************************************************
 * TAB PAGE ACCUEIL
 *******************************************************/
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
/*   border-color: #ddd #ddd #ddd transparent; */
background-color:  aliceblue
/*   *border-left-color: #ffffff; */
}

/* Put your css in here */

.myTabs {
  list-style: none;
  position: relative;
  text-align: left;
  float: left;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  padding-left: 0; }
  .myTabs li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 8px 15px 50px;
    font-weight: 0;
    float: left;
    display: block;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    margin: 0;
    margin-bottom: -1px; }
    .myTabs li:hover {
      background-color: lightgrey;
      cursor: pointer; }
  .myTabs li.active {
    display: block;
    padding: 10px;
    background-color: white;
    border-bottom: 0px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey; }
    .dsTabs li.active:hover {
      background-color: white;
      cursor: pointer; }

.but-recentre {
    color: #fff;
    font-size: 1.2em;
    cursor:pointer;

}

/*.awesome-marker i {
    font-size: 18px;
    margin-top: 5px;
}*/
.awesome-marker-icon-black {
  background-position: +682px 0;
}
/* css pour icone non visible */
.poNoVisible{
}
.poRisqueEleve{
  background:red;
  border-radius:100%;
  height: 15px;
  margin-bottom:-7.5px;
  margin-left:-7.5px;
  margin-top:-7.5px
}
.poRisqueSecondaire{
  background:#F0AD4E;
  border-radius:100%;
  height: 15px;
  margin-bottom:-7.5px;
  margin-left:-7.5px;
  margin-top:-7.5px
}
.poNonRisque{
  background:#337AB7;
  border-radius:100%;
  height: 15px;
  margin-bottom:-7.5px;
  margin-left:-7.5px;
  margin-top:-7.5px
}
.poRisqueClick{
  background:#F400DC;
  border-radius:100%;
  height: 15px;
  margin-bottom:-7.5px;
  margin-left:-7.5px;
  margin-top:-7.5px
}
.eqPoteau{
  background:#01df01;
  opacity:0.9;
  border-radius:100%;
  height: 8px;
  width: 8px;
  margin-bottom:-4px;
  margin-left:-4px;
  margin-top:-4px
}
.eqPoteauClick{
  background:#F400DC;
  opacity:0.9;
  border-radius:100%;
  height: 8px;
  width: 8px;
  margin-bottom:-4px;
  margin-left:-4px;
  margin-top:-4px
}

#controls {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;

  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
}

/*leaflet snap*/
.leaflet-editing-icon.marker-snapped {
  background-color: yellow;
  width: 10px;
  height: 10px;
}
.leaflet-marker-icon.marker-snapped {
  content: url('img/marker-snap.png');
}

/* Leaflet.Draw */
/* .leaflet-draw-toolbar .leaflet-draw-draw-polygon { */
/*     background-position: -36.5px -2px; */
/* } */
/* .leaflet-draw-toolbar .leaflet-draw-draw-marker { */
/*     background-position: -137px -2px; */
/* } */
/* .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker { */
/*     background-position: -104px -2px; */
/* } */
/* .leaflet-draw-toolbar .leaflet-draw-edit-edit { */
/*     background-position: -170px -2px; */
/* } */
/* .leaflet-draw-toolbar .leaflet-draw-edit-remove { */
/*     background-position: -204px -2px; */
/* } */
/* .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled { */
/*     background-position: -237px -2px; */
/* } */
/* .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled { */
/*     background-position: -271px -2px; */
/* } */
.leaflet-top .leaflet-draw.c2c-select {
  margin-top: 120px;
  margin-left: 4px;
}
.leaflet-top .leaflet-draw.c2c-select .leaflet-draw-toolbar > a {
    display: none;
}
.leaflet-top .leaflet-draw.c2c-select .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    display: block;
}

/*
 * Photos
 */
.thumb-image{
  position: relative;
  width: 150px;
  height: 100px;
  overflow: hidden;
  /*cursor: pointer;*/
}
.large-image{
    max-width: 100%;
    height: 100%;
}

 .my-drop-zone { border: dotted 3px lightgray; }
 .nv-file-over { border: dotted 3px red; }
 .another-file-over-class { border: dotted 3px green; }

 .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*
* Preview des images
*/
/*canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px;
}*/

.modal-content.detail {
  max-width: 700px;
}

/*
 * Détail tableau
 */
.dl-horizontal dt {
    float: left;
    margin-right: 10px;
    width: 300px;
    overflow: hidden;
    clear: right;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/****** Css tableau **********************************/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #0000;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: #428bca;
  border-bottom-color: transparent;
}

/***********************************************************************
    PAGE DETAIL
 ***********************************************************************/
h1 {
  font-size: 22px;
}

.editDetailButton{
  float:right;
  margin-top:35px;
}

/* bouton modifier */
.btn-warning {
  padding: 5px 5px 5px 5px;
  /*font-family: sans-serif;*/
  font-size: 12px;
}

/* bouton supprimer */
.btn-danger {
  padding: 5px 5px 5px 5px;
  /*font-family: sans-serif;*/
  font-size: 12px;
}

.panel-body {
  padding-bottom: 0px;
}

.panel-info{
  border-color:#FFF;
}

/***********************************************************************
    LEGENDE
 ***********************************************************************/
/** Formatage de la légende dans la div **/
.sidebar {
  position: absolute;
  top: 5px;
  bottom: 5px;
  /*width: 100%;*/
  /*height:100%;*/
  height: 620px;
  overflow: hidden;
  z-index: 2000;
  opacity: 1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
/*   transition: width 500ms;
   transition: height 20ms; */
}

/** Taille de la légende fermée = environ taille bouton Légende **/
.sidebar.collapsed {
  width:  30px;
  height: 30px;
  top: 80px;
}

.sidebar-tabs.collapsed {
  background-color: #FFF;
}

/* Largeur de la div de la légende */
@media (min-width: 1200px) {
 .sidebar {
    width: 300px; }
}

@media (min-width: 768px) {
  .sidebar-left {
    top: 80px;
  }
}

/** Bouton */
.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #FFF; /* Sous le bouton de la légende et la bande de gauche */
  /*margin-left: 29px;
  margin-top: 2px;*/  
}

.sidebar-tabs, .sidebar-tabs > ul {
  position: absolute;
  width: 30px;
  margin: 0;
  padding: 0;
}

.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  /*line-height: 40px;*/
  color: inherit;
  text-decoration: none;
  /*text-align: center;*/
  padding-left: 2px;
  padding-top: 2px;
  background-color: #FFF;
}

/** Contenu de la légende **/
.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #FFF; /* Bande à droite du bouton */
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-left .sidebar-content {
  left: 30px;
  right: 0;
}

/*
 * CSS collapse données metier légende
 */
.glyphicon {
  /*color: #537380;*/
  color: #ffffff;
}

a:focus, a:hover {
    color: #23527c;
    /*text-decoration: underline;*/
    text-decoration: none;
    outline: 0px;
}

.legendBlock-item {
  display: inline-block;
  color: #000000;
  font-size: 12px;
  cursor: pointer;
  padding-top: 10px;
}

.legendBlock-item:hover {
  color: #000005;
  font-weight: bold;
}

a.legendBlock-item {
    color: #000000; /* Couleur des libellés de couche */
    cursor: pointer;
    font-size: 12px;
}

.test {
  display: inline-block;
  color: #000000;
  font-size: 12px;
  cursor: pointer;
}

.overlay{
  background-color: #FFF; /* couleur fond sous les couches */
  color: #ffffff;
  letter-spacing: 1px;
}

.separateurVecteur {
  height: 2px;
  width: 215px;
  background-color: #537380;
  margin-bottom: 10px;
  margin-top: 10px;
}

.separateurRaster {
  height: 3px;
  width: 215px;
  background-color: #000000;
  margin-bottom: 10px;
  margin-top: 10px;
}

/** Label des couches **/
.labelLayerZs {
    padding-left: 19px;
    /*padding-bottom: 4px;*/
    padding-top: 3px;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    color: #000000;
    vertical-align: middle;
}

/*.labelLayerZs>img {
  vertical-align: baseline;
}*/

.labelLayerAirelife {
    padding-left: 19px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    color: #000000;
}

.labelLayerCommunes {
    padding-left: 19px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    color: #000000;
}

.labelLayerSub {
    min-height: 20px;
    padding-left: 33px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 100;
    cursor: pointer;
    color: #000000;
}

.labelLayerSubRef {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 100;
    cursor: pointer;
    color: #000000;
}

.labelLayerSub:hover {
    font-weight: bold;
}

.labelLayerSubRef:hover {
    font-weight: bold;
}

.labelLayerZs:hover {
    font-weight: bold;
}

.labelLayerCommunes:hover {
    font-weight: bold;
}

.labelLayerRaster label {
    min-height: 20px;
    padding-left: -20px;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    color: #000000;
}

.image {
  float: right;
}

.item-leg {
  display: inline-block;
  vertical-align: top;
}

/********************************************************
 * Entête
 ********************************************************/
.sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
  background-color: #FFF; /* Bande sous les couches */
}

.sidebar-right .sidebar-header {
    padding-left: 40px;
}

/********************************************************
 * Css supplementaires
 ********************************************************/

 @import url(http://fonts.googleapis.com/css?family=Roboto);
 @import url(http://fonts.googleapis.com/css?family=Montserrat);


 html,body {
  margin:0px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.overlay h4 {
  text-transform: uppercase;
  color: #ffffff;
}

.baselayers label {
  font-size: 12px;
  color: #000000;
}

.uk-margin-top.base {
  margin-top:-10px;
  margin-left:2px;
}

/* bouton Nouveau xxx dans le tableau */
.btn-new {
  position: absolute;
  padding-top: 35px;
  padding-left: 12px;
  z-index: 9999;
  /*border: 1px solid red;*/
}

.btn-sub-new {
  position: absolute;
  padding-top: 63px;
  /*padding-left: 63px;*/
}

.btn-sub-new-poteau {
  position: absolute;
  padding-top: 15px;
  /*padding-left: 63px;*/
}

.btn-sub-new-troncon {
  position: absolute;
  padding-top: 15px;
  /*padding-left: 63px;*/
}

.btn-sub-new-classique {
  /*position: absolute;*/
  padding-top: 0px;
  padding-left: 0px;
}

.btn-sub-new-photo {
  /*position: absolute;*/
  padding-top: 0px;
  padding-left: 0px;
}

.center {
    margin: auto;
    width: 60%;
    border:3px solid #73AD21;
    padding: 10px;
}

.actionbouton {
  width : 7%;
}

.apcoupERDF{
  /*background:red;*/
  height: 8px;
  width: 8px;
  margin-bottom:-3px;
  margin-left:-3px;
  margin-top:-3px
}

.caERDF{
  /*background:blue;*/
  height: 8px;
  width: 8px;
  margin-bottom:-3px;
  margin-left:-3px;
  margin-top:-3px
}

.parafERDF{
  /*background:yellow;*/
  height: 8px;
  width: 8px;
  margin-bottom:-3px;
  margin-left:-3px;
  margin-top:-3px
}

.postelecERDF{
  /*background:green;*/
  height: 8px;
  width: 8px;
  margin-bottom:-3px;
  margin-left:-3px;
  margin-top:-3px
}

.raesoutERDF{
  /*background:black;*/
  height: 8px;
  width: 8px;
  margin-bottom:-3px;
  margin-left:-3px;
  margin-top:-3px
}

.posteRTE{
  /*background:red;*/
  height: 9px;
  width: 9px;
  margin-bottom:-5px;
  margin-left:-5px;
  margin-top:-5px
}

.poteauRTE{
  /*background:black;*/
  height: 10px;
  width: 10px;
  margin-bottom:-5px;
  margin-left:-5px;
  margin-top:-5px
}

.noObs{
  /*background:#8A2908;*/
  opacity:0;
  border-radius:100%;
  height: 4px;
  width: 4px;
  margin-bottom:-2px;
  margin-left:-2px;
  margin-top:-2px;
}

.obsClasse1{
  /*background:#8A2908;*/
  /*opacity:0.9;*/
  /*border-radius:100%;*/
  height: 6px;
  width: 6px;
  margin-bottom:-2px;
  margin-left:-2px;
  margin-top:-2px;
}

.obsClasse2{
  /*background:#046380;*/
  /*opacity:0.9;*/
  /*border-radius:100%;*/
  height: 8px;
  width: 8px;
  margin-bottom:-4px;
  margin-left:-4px;
  margin-top:-4px;
}

.obsClasse3{
  /*background:#96CA2D;*/
  /*opacity:0.9;*/
  /*border-radius:100%;*/
  height: 10px;
  width: 10px;
  margin-bottom:-6px;
  margin-left:-6px;
  margin-top:-6px;
}

.detail-photo {
  position:fixed;
}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px;
}

.sidebar-pane.active {
  display: block;
}

/* Surcouche pour gestion des onglets */
.nav {
  font-size: 12px;
  /*padding-left: 10px;*/
  font-weight: bold;
  color: #00FF21;
  /*margin-left: 10px;*/
  /*position: fixed;*/
}

/* ajout du décalage que pour les onglets dans le bloc tableau */
.nav-tab {
  padding-left: 10px;
  /*border: 1px solid red;*/
}

a {
  color: #537380;
}

a:hover {
  color: #5da5b4;
}

.dropdown-menu>li>a {
  color: #537380;
}

.dropdown-menu>li>a:hover {
  color: #5da5b4;
}

.nav-pills>li>a {
    border-radius: 0px;
}

/* couleur de fond des onglets */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #537380;
}

.navbar-fixed-top {
    border: 1px solid black;
    background: #000000;
}

.container-fluid {
  /*border: 1px solid red;*/
  /*height: 30%;*/
  background-color: #ffffff;
  z-index: 99999;
  /*position: fixed;*/
}

.navbar-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  /*position: fixed;*/
}

/**************
* BANDEAU
**************/

/* Bouton bandeau */
.btn-bandeau {
  width:  30px;
  height: 17px;
  position: fixed;
  margin-left: 50%;
  /*margin-top: 0.05%;*/
  text-align: center;
  vertical-align: middle;
  padding-top: 0px;
  color: inherit;
  background-color: #FFF;
  top: 80px;
}

.btn-bandeau.visibilitebandeau {
  top: 0px;
}

.btn-bandeau>img {
  vertical-align: baseline;
}

/*.navbar-nav.visibilitebandeau {
  padding-top: 0px;
  padding-bottom: 0px;
}*/

.nav.visibilitebandeau {
  display: none;
}

.logo-title-user {
  width: 100%;
  /*height: 80px;*/
  position: fixed;
  top: 0;
  left: 0;
  /*border: 1px solid blue;*/
  z-index: 99999;
  background-color: #ffffff;
}

.logo-title-user.visibilitebandeau {
  display: none;
}

.user {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 15px;
  padding-top: 30px;
  color: #537380;
  font-weight: bold;
  z-index: 100000;
  background-color: #ffffff;
}

/* icone user */
.glyphicon.glyphicon-user {
  color: #537380;
}

.glyphicon.glyphicon-off {
  color: #537380;
  font-size: 15px;
  font-weight: bold;
}

.glyphicon.glyphicon-off:hover {
  color: #5da5b4;
  font-size: 15px;
  font-weight: bold;
}

/* icone cadenas sur clic sur user */
.glyphicon.glyphicon-lock {
  color: #537380;
}

.user-fixed {
  /*position: fixed;*/
}

.pos-bandeau {
  /*position: fixed;
  left: 0;
  top: 0;*/
  /*width: 100%
  height: 80px;
  padding-top: 80px;*/
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

.pos-bandeau.visibilitebandeau {
  display: none;
}

.nav-pos-fixed {
  position: fixed;
  z-index: 99999;
  background-color: #ffffff;
  /*border: 1px solid blue;*/
  margin-left: 5px;
  margin-right: 3px;
}

.glyphicon.glyphicon-chevron-left {
  color: #537380;
  padding-right: 3px;
}

.glyphicon.glyphicon-chevron-right {
  color: #537380;
  padding-right: 3px;
}

.glyphicon.glyphicon-chevron-down {
  color: #537380;
  padding-right: 3px;
}

.glyphicon.glyphicon-calendar {
  color: #537380;
  /*padding-right: 3px;*/
  font-size: 16px;
  /*text-align: center;
  vertical-align: middle;*/
  padding-top: 10px;
}

/* icone retour étendue initiale sur la carte */
.glyphicon.glyphicon-home {
  color: #000000;
  font-size: 16px;
}

/**************
* BREADCRUMB
***************/

.panel-default {
  padding-bottom: 0px;
}

.sub-schema-poteaux {
  /*padding-top: 20px;*/
}

.modal-content {
  margin-top: 150px;
  margin-left: 0px;
  z-index: 9999999;
}

.espace-sous-onglet {
  margin-top: 40px;
}

/* Voir pour utiliser ce css pour pieux gérer l'affichage du bredcrumb */
/*.breadcrumb>li {
    border: 1px solid red;
}*/

/****************
* MODAL MENTIONS
****************/

/* Bouton mentions légales */
.btn-mentions {
  bottom: 0;
  width:  34px;
  height: 33px;
  position: fixed;
  margin-left: 50%;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
  color: inherit;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.glyphicon.glyphicon-modal-window {
  color: #537380;
  font-size: 25px;
  cursor: pointer;
}

.modal.backdrop {
    z-index: 100002;
}

.modal-backdrop.in {
  opacity: 0;
}

.modal-dialog-mentions-73 {
  width: 800px;
  height: 480px;
}

.modal-header-mentions {
  text-align: center;
  border-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #537380;
  padding-bottom: 10px;
}

/*.modal-close {
  float: right;
  font-size: 25px;
  font-weight: bold;
  color: #537380;
  cursor: pointer;
  padding-right: 15px;
}*/

.modal-close {
  float: right;
  bottom: 0;
  font-size: 25px;
  font-weight: bold;
  color: #537380;
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
}

.modal-content-mentions-73 {
  width: 800px;
  height: 720px;
}

.modal-content-mentions-38 {
  width: 600px;
  height: 370px;
}

.modal-content-mentions-74 {
  width: 600px;
  height: 495px;
}

.logo-partenaire-ligne {
  text-align: center;
  vertical-align: middle;
}

.logo-partenaire {
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

/* PAGE LOGIN */
.login-page {
  /*border: 3px solid red;*/
  padding-top: 100px;
  z-index: 9999;
}

.div-life {
  text-align: center;
  color: #537380;
  font-size: 20px;
  font-weight: bold;
  /*border: 1px solid green;*/
  padding-top: 10px;
  padding-bottom: 30px;
}

.div-logo-life {
  text-align: center;
  /*padding-top: 10px;*/
}

.div-part-form-login {
  text-align: center;
}

.div-align-right {
  text-align: right;
  padding-top: 25px;
  padding-bottom: 25px;
}

.div-align-left {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bloc-part-gauche {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  padding-top: 150px;
}

.bloc-part-droite {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  padding-top: 180px;
}

.bloc-part-bas {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  /*padding-bottom: 30px;*/
}

.bloc-part-bas-gauche {
  display: inline-block;
  padding-right: 20px;
  /*vertical-align: middle;
  text-align: left;
  padding-top: 20px;*/
}

.bloc-part-bas-droite {
  display: inline-block;
  padding-left: 20px;
  /*vertical-align: middle;
  text-align: right;
  padding-top: 20px;*/
}

.div-ligne {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
