<div dw-loading="map-loading" dw-loading-options="{text: 'Chargement des données'}" ng-options="{ text: '', className: 'custom-loading', spinnerOptions: {radius:30, width:8, length: 16, color: '#f0f', direction: -1, speed: 3}}">
</div>
<!-- Initialisation de légende -->
 <div id="legendblock" class="sidebar collapsed uk-grid uk-margin-remove">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a ng-href="#home" role="tab"><i class="glyphicon glyphicon-th-list"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                </h1>                
            </div>    
             <div>
                <div class="overlay">

                    <div class="base" id="baselayers" >
                        <h4 class="uk-margin-top">Fonds de référence</h4>
                        <label class="checkbox">
                            <input id="communes" type="checkbox" ng-click="layerToggle()" value="communes"><span class="outer"></span> Communes 
                        </label>
                        <a ng-href="" class="legendBlock-item " data-toggle="collapse" data-target="#erdf" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i> ERDF </a>
                        <div id="erdf" class="sublinks collapse ">
                           <label class="checkbox">
                            <input id="erdfappareilcoupure" type="checkbox" ng-click="layerToggle()" value="erdfappareilcoupure"><span class="outer"></span>Appareil de coupure</BR>
                            </label>
                            <label class="checkbox">
                                <input id="erdfconnexionaerienne" type="checkbox" ng-click="layerToggle()" value="erdfconnexionaerienne"><span class="outer"></span>Connexion aérienne </BR>
                            </label>
                            <label class="checkbox">
                                <input id="erdfparafoudre" type="checkbox" ng-click="layerToggle()" value="erdfparafoudre"><span class="outer"></span>Parafoudre </BR>
                            </label>
                            <label class="checkbox">
                                <input id="erdfposteelectrique" type="checkbox" ng-click="layerToggle()" value="erdfposteelectrique"><span class="outer"></span>Poste électrique </BR>
                            </label>
                            <label class="checkbox">
                                <input id="erdfremonteeaerosout" type="checkbox" ng-click="layerToggle()" value="erdfremonteeaerosout"><span class="outer"></span>Remontée aérosouterraine </BR>
                            </label>
                            <label class="checkbox">
                                <input id="erdftronconaerien" type="checkbox" ng-click="layerToggle()" value="erdftronconaerien"><span class="outer"></span>Tronçon aériens</BR>
                            </label>
                        </div> 

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#ogm" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i> OGM</a>
                        <div id="ogm" class="sublinks collapse">
                            <label class="checkbox">
                            <input id="ogmcablesremonteesmecaniques" type="checkbox" ng-click="layerToggle()" value="ogmcablesremonteesmecaniques"><span class="outer"></span>Remontées mécaniques </BR>
                            </label>
                            <label class="checkbox">
                                <input id="ogmdomainesskiables" type="checkbox" ng-click="layerToggle()" value="ogmdomainesskiables"><span class="outer"></span>Domaines skiables</BR>
                            </label>
                            <label class="checkbox">
                                <input id="ogmtronconsdangereux" type="checkbox" ng-click="layerToggle()" value="ogmtronconsdangereux"><span class="outer"></span>Tronçons dangereux </BR>
                            </label>
                            <label class="checkbox">
                                <input id="ogmtronconsvisualises" type="checkbox" ng-click="layerToggle()" value="ogmtronconsvisualises"><span class="outer"></span>Tronçons visualisés </BR>
                            </label>
                            <label class="checkbox">
                                <input id="ogmtronconsvisualisesdangereux" type="checkbox" ng-click="layerToggle()" value="ogmtronconsvisualisesdangereux"><span class="outer"></span>Tronçons visualisés dangereux</BR>
                            </label>
                        </div> 

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#rte" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i> RTE</a>
                        <div id="rte" class="sublinks collapse">
                           <label class="checkbox">
                            <input id="rtelignes" type="checkbox" ng-click="layerToggle()" value="rtelignes"><span class="outer"></span>Lignes électriques </BR>
                            </label>
                            <label class="checkbox">
                                <input id="rtepostes" type="checkbox" ng-click="layerToggle()" value="rtepostes"><span class="outer"></span>Postes électriques</BR>
                            </label>
                            <label class="checkbox">
                                <input id="rtepoteaux" type="checkbox" ng-click="layerToggle()" value="rtepoteaux"><span class="outer"></span>Poteaux </BR>
                            </label>
                        </div> 
                        <div class="separateur"></div>
    
                        <h4  class="uk-margin-top">Données métier</h4>

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#zs" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i>  Zones sensibles</a>
                        <div id="zs" class="sublinks collapse in">
                            <label class="checkbox">
                                <input id="zonessensibles" type="checkbox" ng-click="layerToggle()" value="zonessensibles"><span class="outer"></span> Zones sensibles
                            </label>
                        </div> 

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#mort" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i>  Cas de mortalité</a>
                        <div id="mort" class="sublinks collapse">
                           <label class="checkbox">
                                <input id="mortalites" type="checkbox" ng-click="layerToggle()" value="mortalites"><span class="outer"></span>  Cas de mortalité
                            </label>
                        </div> 

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#tr" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i>  Tronçons ERDF à risque</a>
                        <div id="tr" class="sublinks collapse in">
                           <label class="checkbox">
                                <input id="tronconserdf" type="checkbox" ng-click="layerToggle()" value="tronconserdf"><span class="outer"></span> Tronçons ERDF à risque 
                            </label>
                        </div>

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#pt" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i> Poteaux ERDF à risque </a>
                        <div id="pt" class="sublinks collapse">
                            <label class="checkbox">
                                <input id="poteauxerdf" type="checkbox" ng-click="layerToggle()" value="poteauxerdf"><span class="outer"></span> Poteaux ERDF à risque 
                            </label>
                        </div> 

                        <label class="checkbox">
                            <input id="eqtronconserdf" type="checkbox" ng-click="layerToggle()" value="eqtronconserdf"><span class="outer"></span> Equipement tronçons ERDF 
                        </label>
                        
                        <label class="checkbox">
                            <input id="eqpoteauxerdf" type="checkbox" ng-click="layerToggle()" value="eqpoteauxerdf"><span class="outer"></span> Equipement poteaux ERDF 
                        </label>

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#nid" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i> Sites de nidification </a>
                        <div id="nid" class="sublinks collapse">
                            <label class="checkbox">
                                <input id="nidifications" type="checkbox" ng-click="layerToggle()" value="nidifications"><span class="outer"></span> Sites de nidification 
                            </label>
                        </div> 

                        <a ng-href="" class="legendBlock-item" data-toggle="collapse" data-target="#obs" data-parent="#legendblock"><i class="glyphicon glyphicon glyphicon-plus"></i> Observations (nombre d'individus) </a>
                        <div id="obs" class="sublinks collapse">
                            <label class="checkbox">
                                <input id="observations" type="checkbox" ng-click="layerToggle()" value="observations"><span class="outer"></span> moins de 20 individus 
                            </label>
                            <label class="checkbox">
                                <input id="observations" type="checkbox" ng-click="layerToggle()" value="observations"><span class="outer"></span> entre 20 et 40 individus 
                            </label>
                            <label class="checkbox">
                                <input id="observations" type="checkbox" ng-click="layerToggle()" value="observations"><span class="outer"></span> plus de 40 individus 
                            </label>
                        </div> 

                    </div>
                </div> 
            </div>
            
        </div>
    </div>
<div id="mapd"></div> 


